.footer {
    bottom: 0;
    width: 100vw;
    height: 5vh;
    position: fixed;
    background-color: hsla(0, 0%, 17%, 0.489);
  }
  h1 {
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 2rem;
  }